<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amos.dao.CustomerMapper">

    <insert id="create" parameterType="com.amos.pojo.Customer">
        insert into customer(name, telephone, address, remark) VALUES
        (#{name},#{telephone},#{address},#{remark})
    </insert>

    <delete id="delete" parameterType="int">
        delete  from customer where id = #{id}
    </delete>

    <select id="findById" parameterType="Long" resultType="com.amos.pojo.Customer">
        select *
        from customer where id=#{id};
    </select>

    <update id="upDate" parameterType="com.amos.pojo.Customer">
        update customer set id=#{id},name=#{name},address=#{address},telephone=#{telephone},remark=#{remark}
    </update>

    <select id="findByPage" resultType="com.amos.pojo.Customer">
        select * from customer where 1=1
        <if test="name != null">
            AND name like concat('%',#{name},'%')
        </if>
        <if test="telephone != null">
            AND telephone like concat('%',#{name},'%')
        </if>
    </select>
</mapper>